body{
    min-height: 100vh;
    margin:0;
    padding:0;
}
.navigation{
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    text-align: right;
}
.navigation a{
    width: 100px;
    display: inline-block;
    color: orange;
    background-color: #111111;
    text-align: center;
    margin: 5px 5px 5px auto;
    padding: 5px;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 5px;
}
.navigation a:hover{
    border-color: white;
    color: white;
}

#video_stream{
    display: block;
    -webkit-user-select: none;
    background-color: hsl(0, 0%, 25%);
    margin: 50px auto;
    border: 2px solid orange;
    border-radius: 5px;
}

.container{
    padding: 0;
    display: block;
    min-width: 400px;
    margin: 50px auto;
    text-align: center;
    box-sizing: content-box
}
